/* tablet */
@media only screen and (min-width: 768px) {

    #menuToggle {
        display: none!important;
     }
    .menu {
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    .menu li {
        list-style-type: none;
        margin-right: 1em;
    }

    .context {
        display: inline;
        position: relative;
    }
    .text {
        display: inline-block;
        width: 70%;
        top: 30%;
        position: absolute;
        margin-top: -11em;  
        margin-left: -3em; 
  
    }
    .text2 {
        width: 41%;
        display: inline-block;
        margin: 15% 4em 0 21%;  
    }
    .text2 p {
        width: 70%;
        margin-top: -4em;
        margin-left: -1em;
    }
    .unique {
        background-color: gray;
        margin-top: -5em;
    }
    .unique p {
        padding: 0 4em;
    }

    hr {
        display: none;
    }
 
    .footerlogo{
	    width: 19em;
	    position: absolute;
        top: 50%;
        left: 15%;
        margin-right: -30%;
        transform: translate(-60%,-50%);
    }

    .social {
        position: absolute;
        top: 90%;
        right: 190%;
        margin-right: 50%;
        transform: translate(190%,-50%);
        width: 15em;
    }
    .social a {
        position: absolute;
        top: -3em;
        left: -2em;
    }
    .youtube {
        position: absolute;
        top: -290%;
        right:29%;
    }
    .linked {
        position: absolute;
        top:-290%;
        right:10%;
    }
    footer {
        height: 8em;
    }
}




/* big tablet/desktop */
@media only screen and (min-width: 1024px) {

    .unique p {
        padding: 0 8em;
        margin: 0 auto;
    }
   
    .footerlogo{
        width: 19em;
        position: absolute;
        top: 47%;
        left: 15%;
        margin-right: -10%;
        transform: translate(-70%,-50%);
    }

    .social {
        position: absolute;
	    top: 70%;
	    right: 120%;
	    margin-right: 50%;
        transform: translate(190%,-50%);
        width: 15em;
    }
    .social ul {
        right: -12em;
        position: absolute;
        width: 10em;
    }
    .social a {
        position: absolute;
        top: -2.5em;
        left: -6em;
    }
    .youtube {
        position: absolute;
        top: -250%;
        right:35%;
    }
    .linked {
        position: absolute;
        top:-250%;
        right:10%;
    }
    .copyright {
        top: 4em;
    }

}
