/*
Neue Helvetica W01
	700 Bold Extended
	400 Extended
	300 Thin extended
	200 light extended
	100 Ultra light extended

Proxima Nova W01
	300 regular
	200 light

ITC Blair W01
	400 normal/medium

*/

*{margin:0;padding:0}
body { font-family:"Proxima Nova W01"; font-weight:300; font-size:1em;  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */}

#wrapper {
	width: 100%;
	background-color: black;
}


/* navbar and banner  */
.nav h1 {
	color: blue;
}
.nav_left {
	display: inline-block;
	width: 40%;
}
.nav_left img {
	width: 10em;
	padding-left: 2em;
	padding-top: .5em;
	padding-bottom: .5em;
}
.headerbackground{
 width: auto;
 height: 40vh;
 background-image: url('i/ccp-banner-home.jpg');
 background-size: cover;
 background-position: top;
 position: relative;
}
.headerbackground h4{
	color: white;
	font-family: Neue Helvetica W01;
	font-weight: 400;
	position: absolute;	
	top: 46%;
	transform: translate(40%, 5%);
}
span {
	font-weight: 100;
}












/* hamburger menu  */

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 15px;
  right: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 130px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

/* end hamburger menu  */


